fastapi[standard]~=0.115
sqlmodel~=0.0.27
pypdf~=6.0
spacy~=3.8
scikit-learn~=1.7
openai~=1.99
google-genai~=1.30
groq~=0.31
supabase~=2.22
psycopg2-binary~=2.9
langchain-docling~=1.1
docling~=2.60
uvicorn[standard]~=0.35
Jinja2~=3.1
python-multipart~=0.0
chromadb~=1.0
python-dotenv~=1.1

# In Dockerfile, add for example:
#   RUN python -m spacy download en_core_web_sm