<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - Team Lens</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="navbar">
        <a href="/">Team Lens</a>
        <a href="/login">Log In</a>
    </div>
    <h1>Ahoy! Your AI work assistant is here!</h1>
    <a id="try" href="/trial">Try for free</a>
    <img src="/static/images/meeting.png"
         alt="Work happily, focus easily"
         id="cover_picture"
         width="400">
</body>
</html>